<div class="music-player">
  <MusicPlayerButton />
  <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/users/{{theme-setting 'sc_user_id'}}" scrolling="no" frameborder="no"></iframe>
</div>
