<div class="music-player">
  <MusicPlayerButton />  
  {{#if (eq (theme-setting "embed_type") "user")}}
    <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/users/{{theme-setting 'sc_user_id'}}" scrolling="no" frameborder="no"></iframe>
  {{/if}}
  {{#if (eq (theme-setting "embed_type") "playlist")}}
    <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/playlists/{{theme-setting 'sc_playlist_id'}}" scrolling="no" frameborder="no"></iframe>
  {{/if}}
</div>
